@import "../global-variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.people-wrapper {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  font-family: 'Mate SC', 'cursive';


}
.all-people{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @media screen and (min-width: 1900px) {
    padding: 50px 120px 120px 120px;
  }
  }
.search-bar-wrapper{
display: flex;
  flex-direction: column;}
.add-people-button-wrapper{
 margin-bottom: 10px;
 margin-top: 7px;
 align-self:center;
 @media screen and (max-width: 720px) {
  font-size: 20px;
  height: 80px;
  width: 250px;
}
}
.single-people-card {
  border: 4px solid;
  border-radius: 25px;
  height: 620px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
  margin-bottom: 30px;
  margin-left: 20px;
  @media screen and (max-width: 720px) {
    margin: 30px 20px;
  }
}
.people-name, .people-surname {
  text-shadow: 5px 5px 10px black;
  margin-top: 5%;
  font-size: 30px;
  color: white;
  @media screen and (max-width: 720px) {
    margin-bottom: 7%;
    font: {
      size: $h1-size * 1.4;
    }}
}
.people-image {
  padding: 0px 0px;
  width: 220px;
  height: 300px;
  border: 3px solid;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 5px;
}
.people-show-desc {
  margin-top: 15px;
  margin-bottom: 20px;
  color: white;
  text-shadow: 5px 5px 10px black;
}
.people-show-desc:hover {
  color: black;
  text-shadow: 5px 5px 10px white;
}
.search-bar {
  width: 30%;
  height: 50px;
  align-self:center;
  text-align: center;
  color: black;
  font-family: 'Mate SC', 'cursive';
  border: 1px solid black;
  border-radius: 10px;
}
.bi-bi-pencil-square{
  color: white;
  margin-right:10px;
}
.bi-bi-pencil-square:hover {
  color: rgb(235, 57, 57);
  transition: 0.3s;
  cursor: pointer;
}

.bi-bi-plus-square{
  color: white;
  margin-right:10px;
}
.bi-bi-plus-square:hover {
  color: rgb(235, 57, 57);
  transition: 0.3s;
  cursor: pointer;
}
.bi-bi-trash {
  color: white;
}
.bi-bi-trash:hover {
  color: rgb(235, 57, 57);
  transition: 0.3s;
  cursor: pointer;
}
.modal-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.modal-wrapper-info {
  justify-content: center;
  @media screen and (max-width: 720px) {
    top: 5%;
    left: 10%;
    height: 95%;
    width: 80%;
  }
  @media screen and (min-width: 720px) and (max-width: 1025px) {
    top: 15%;
    left: 15%;
    height: 650px;
    width: 550px;
  }
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    top: 1%;
    left: 30%;
    height: 600px;
    width: 550px;
  }
}
.modal-wrapper-info:hover {
  cursor: pointer;
}
.modal-wrapper-delete {
  font-size: 15px;
}
.modal-wrapper-update {
  background: rgb(191, 107, 107);
  font-size: 15px;
  justify-content: center;
  align-items: center;
}
.modal-wrapper-create {
  font-size: 15px;
  justify-content: center;
  align-items: center;
}
.delete-action-buttons {
  margin-top: 20px;
  font-size: 22px;
  justify-content: center;
  align-items: center;
}
.btn-primary, .btn-danger {
  margin-right: 20px;
  height: 35px;
  width: 100px;
  justify-content: space-evenly;
  align-items: center;
}
.priview-image{
border: 1px solid black;
border-radius: 5px;
margin-bottom:10px;
}
.modal-content{
  border: none !important;
  padding: 10px 0;
  }
.modal.content.name
.modal.content.desc{
  text-align: center;
  }
.modal__people__name-input
.modal__people__desc-textarea{
  padding: 5px;
 }
.modal__people__desc-textarea{
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  width: 100%;
  padding: 10px;
 }

.uploading-image {

  align-content:center;
  height: 60%;
  width: 60%;
  border: 3px solid #e9a358;
  border-radius: 10px;
  margin-bottom: 20px;
}
.add__modal-title {
  text-align: center;
}
