* {
  font-family: 'Mate SC', 'cursive';
}
/* @media (min-width: 720px) {
  .navbar ,
  .navbar-title ,
  .navbar-collapse {
    display: none;
  }
} */
.navbar {
  background: rgb(191, 107, 107);
}
.navbar-title {
  color: white;
  margin-left: 20px;
  font-size: 30px;
}
.navbar-collapse {
  color: lightslategray;
  margin-left: 40px;
  margin-right:10px;
  font-size: 25px;
}
